/* src/components/StockForm.css */

form {
    max-width: 700px;
    margin: 10 auto;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: calc(50% - 10px);
    padding: 20px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 20px;
    background: #838488;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #83d483;
  }
  